services:
  db:
    image: postgres:16-alpine
    container_name: "${POSTGRES_CONTAINER_NAME}"

    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"

    ports:
      - "${POSTGRES_PORT:-5432}:5432"

    volumes:
      - "${POSTGRES_VOLUME_NAME}:/var/lib/postgresql/data"

    networks:
      - internal

    restart: unless-stopped

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  warehouse_control_data:

networks:
  internal:
    driver: bridge

